body {
    background-color: var(--light-gray);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

.grid { 
    display: grid;
grid-template-rows:(3fr 3fr 3fr);
margin-top: 100px;
margin-left: 50px;
}

.grid1 {
height:300px;
width:550px;
background-color:hsl(263, 55%, 52%);
border-radius:10px;
box-shadow: 0 4px 8px 0;
}

.grid12 {
position: relative;
left: 95px;
bottom: 35px;
color: white;
font-weight: 700;
}

.grid122 {
position: relative;
left: 95px; 
bottom: 45px;
color: white;
}

.grid13 {
  color: white;
font-size: 20px;
position: relative;
left: 20px;
bottom: 45px;
text-align: left;
font-weight: 700;
}

.grid14{position: relative;
 left:10px; 
 bottom: 45px;
 color: white;
 font-size: 13px;
 text-align: left;
 position: relative;
 left: 20px;
} 

.grid2 {
height:300px;
width:270px;
background-color:hsl(217, 19%, 35%);
border-radius:10px;
box-shadow: 0 4px 8px 0;
position: relative;
bottom: 312px;
left: 630px;
}

.grid21 {
position: relative;
left: 95px;
top: 35px;
color: white;
font-weight: 700;
}

.grid211 {
  position: relative;
  left: 95px;
  top: 25px;
  color: white;
}

.grid213{position: relative;
 left: 20px; 
 top: 30px;
 color: white;
 font-size: 20px;
 font-weight: 700;
}

.grid222 {
  position: relative;
  bottom: 30px;
}

.grid214 {
color: white;
font-size: 15px;
position: relative;
text-align: left;
bottom: -20px;
left: 20px;
}

.grid3{height:620px;
   width:280px;
   background-color: hsl(0, 0%, 100%);
   border-radius:10px; 
   box-shadow: 0 4px 8px 0;
   position: relative;
   left: 110%;
   bottom: 320px;
   text-align: center;}

.grid215{position: relative; 
bottom: 45px;
 color: black;
 font-size: 20px;
 opacity: 20.3
}

.grid215 h1 {
  text-align: left;
  font-size: 25px;
  position: relative;
  left: 20px;
}

.grid00{position: relative;
 left: 3px;
 bottom: 45px;
 color: black;
 font-weight: 800;
}

.grid000{position: relative;
 right:3px;
 left: 15px;
 bottom: 55px;}

.grid216{
color: black;
opacity: 1.3;
text-align: left;
font-size: 16px;
position: relative;
bottom: 55px;
left: 20px;
}

.grid101{display: grid;
grid-template-rows:(2fr 2fr);
margin-top: 10px;
margin-left: 50px;}

.grid4 {
    height:300px;
    width:250px;
    background-color:white;
    border-radius:10px;
    box-shadow: 0 4px 8px 0;
    position: relative;
    bottom: 300px;
  }

.grid102 {
     position: relative;
     left: 100px;
     bottom: 35px;
     color:black;
     font-weight: 800;
}


.grid103{
  position: relative;
  left:150px; 
  bottom: 555px;
  color: currentColor;
  }

.grid104 {
  position: relative;
  left: 75px; 
  bottom: 550px;
  color: black;
  font-size: 20px; 
  font-weight: 700;
}

.grid105{
        position: relative;
        left: 70px;
        bottom: 550px;
        color: black;
        font-size: 15px;
        text-align: left;
      }

.grid5{height:300px;
        width:570px;
        background-color:hsl(219, 29%, 14%);
         border-radius:10px;
         box-shadow: 0 4px 8px 0;
         position: relative;
         bottom: 825px;
         left: 327px;
 }
 .grid106{position: relative;
     left: 425px;
     bottom: 1101px;
     color:white;
     font-weight: 700;
    }

    .grid108 {
       position: relative;
       left: 300px;
       bottom: 1000px;
    }

     .grid107 {
        position: relative;
        left: 350px;
        bottom: 1100px;
        color: white;
        font-size: 20px;
        text-align: left;
        font-weight: 600;
      }

      .grid107 .verified {
         font-size: 12px;
         position: relative;
         left: 75px;
         bottom: 10px;
        font-weight: 500;

      }

      .grid109 {
        position: relative;
        left: 350px;
        bottom: 1100px;
        color: white;
      }


